* {
    margin: 0;
    padding: 0;
}

$base-color:  rgb(124, 81, 193);

.chat {
    display: flex;
    margin: 3% 10%;
    border: 1px solid;
    border-radius: 10px;
}

.listusers { 
    background: $base-color; 
    text-align: center;
    border-right: 1px solid;
    border-radius: 10px 0 0 10px;
    width: 100px;
    padding: 5px;  
    b {
        font-size: 16px;
    }
    li {
        font-size: 14px;
        list-style-type: none;
        background: rgba(206, 212, 244, 0.763);
        border-radius: 5px;
        margin: 5px;
    }
}

.inside {
    background: rgb(206, 212, 244);
    padding: 15px;
    width: 100%;
    height: 500px;
    border-radius: 0 10px 10px 0;
}

.message_container {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    height: calc(100% - 70px);
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    margin: 15px 0;
    padding: 10px;
    p {
        font-size: 19px;
        word-break:break-all;
    }
    span {
        font-size: 13px;
        margin-left: 5px;
    }
}

#you {
    background: rgb(141, 97, 198);
    border-radius: 10px 10px 0 10px;
    margin-left: auto;
}

#other {
    background: rgb(97, 186, 198);
    border-radius: 10px 10px 10px 0;
    margin-right: auto;
}

.form {
    display: flex;
    textarea {
        width: 100%;
        border-color: rgba(189, 194, 228, 0.715);
        background: rgba(153, 161, 214, 0.715);
        font-size: 17px;
    }
    button {
        background-color: $base-color;
        border: none;
        padding: 15px;
        width: 150px;
        font-size: 19px;
        &:hover {
            background: rgba(247, 250, 91, 0.521);
            transition: 0.2s;
        } 
        &:active {
            background:rgba(247, 250, 91, 0.949)
        }
    }
}
